<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{title}}</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: fit-content;
            text-align: center;
        }

        .login-container input[type="email"],
        .login-container input[type="password"] {
            width: 500px;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .login-container input[type="submit"] {
            width: 300px;
            padding: 10px;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 16px;
        }

        .login-container input[type="cancel"] {
            width: 90%;
            padding: 10px;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 16px;

        }

        .login-container input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div
        class="flex flex-col justify-center items-center py-2 px-12 rounded-lg border border-white-300 shadow-lg shadow-cyan-500/50 backdrop-blur-sm">
        <h1 class="text-white mb-4">
            WELCOME TO TEACHER LESSON PLANNER
        </h1>
        <div class="login-container">
            <div class="cancel-container">
                <form action="/login" method="post">
                    {{#if errors}}
                    {{#each errors}}
                    <div class="text-red-500" role="alert">
                        {{this}}
                    </div>
                    {{/each}}
                    {{/if}}
                    <input type="email" placeholder="Username" name="email" required><br />
                    <input type="password" placeholder="Password" name="password" required><br />
                    <div>
                        <input type="submit" value="Login">
                    </div>
                </form>
                <section class="w-full flex justify-center mt-4 flex gap-3">
                    <p class="text-white">Don't have an account?&nbsp;</p>
                    <a href="/register" class="text-green-600">Register</a>
                </section>
            </div>
        </div>
    </div>
</body>

</html>