<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{title}}</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            margin: 0;
        }

        .login-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

        .login-container input[type="email"],
        .login-container input[type="password"] {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .login-container input[type="submit"] {
            width: 90%;
            padding: 10px;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 16px;
        }

        .login-container input[type="cancel"] {
            width: 90%;
            padding: 10px;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 16px;

        }

        .login-container input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1 class="text-grey-900 mb-4">
        WELCOME TO TEACHER LESSON PLANNER
    </h1>
    <div class="login-container">
        <div class="cancel-container">
            <form action="/login" method="post">
                <input type="email" placeholder="Username" name="email" required><br />
                <input type="password" placeholder="Password" name="password" required><br />
                <div>
                    <input type="submit" value="login">
                </div>
            </form>
            <section class="mt-4 flex gap-3">
                <p>Don't have an account?&nbsp;</p>
                <a href="/register" class="text-green-600">Register</a>
            </section>
        </div>
    </div>
</body>

</html>