<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!--    general styles-->
    <link rel="stylesheet" href="/styles/style.css">
    {{!-- tailwind --}}
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        input {
            color: #007BFF !important;
            border-radius: .3rem !important;
            font-size: 20px;
        }

        input:focus {
            
        }
    </style>

<body>
    <div class="w-full lg:w-full lg:h-screen flex justify-center items-center text-white text-md">
        <div class="flex flex-col justify-center items-center py-2 px-12 rounded-lg border border-white-300 shadow-lg shadow-cyan-500/50 backdrop-blur-sm">
            <h1 class="text-center text-white mb-3 font-bold text-3xl">Teacher Signup Form</h1>
            {{#if errors.length}}
            <div class="error-message text-red-300 mb-4">
                <ul>
                    {{#each errors}}
                    <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            <form action="/register" method="post">
                <div class="w-full flex flex-col gap-3 lg:flex-row">
                    <section class="flex flex-col w-full">
                        <label for="fullName">Full Name:</label>
                        <input type="text" class="px-2 py-1 w-full outline-none rounded-ld shadow-xl" id="fullName" name="fullnames" required />
                    </section>
                    <section class="flex flex-col w-full">
                        <label for="regNumber">Registration Number: </label>
                        <input type="text" class="px-2 py-1 w-full outline-none rounded-ld shadow-xl" id="regNumber" name="registration_number" required />
                    </section>
                </div>
                <div class="w-full flex flex-col gap-3 lg:flex-row">
                    <section class="flex flex-col w-full">
                        <label for="email">Email:</label>
                        <input type="email" class="px-2 py-1 w-full outline-none rounded-ld shadow-xl" id="email" name="email" required /><br />
                    </section>
                    <section class="flex flex-col w-full">
                        <label for="password">Password:</label>
                        <input type="password" class="px-2 py-1 w-full outline-none rounded-ld shadow-xl" id="password" name="password" required /><br />
                    </section>
                </div>
                <label for="Phone">Phone: </label>
                <input type="text" class="px-2 py-1 w-full outline-none rounded-ld shadow-xl" id="Phone" name="phone" required /><br />
                <p>Gender:</p>
                <div class="w-full flex gap-4 justify-center">
                    <section class="flex gap-1 mb-3">
                        <label for="male">Male</label>
                        <input type="radio" id="male" name="gender" value="Male" />
                    </section>
                    <section class="flex gap-1 mb-3">
                        <label for="female">Female</label>
                        <input type="radio" id="female" name="gender" value="Female" />
                    </section>
                </div>
                <label for="DOB">Date of birth: </label>
                <input type="date" class="px-2 py-1 w-full text-center outline-none rounded-ld shadow-xl" id="DOB" name="DOB" required />
                <div class="w-full flex flex-col gap-3 lg:flex-row">
                    <span class="flex flex-col w-full">
                        <label for="subject-1">Subject One:</label>
                        <input type="text" class="px-2 py-1 outline-none rounded-ld shadow-xl" name="subject_one" id="subject-1" required />
                    </span>
                    <span class="flex flex-col w-full">
                        <label for="subject-2">Subject Two:</label>
                        <input type="text" class="px-2 py-1 outline-none rounded-ld shadow-xl" name="subject_two" id="subject-2" required>
                    </span>
                </div>
                <div class="mt-2">
                    <label for="terms">I agree to term of use:</label>
                    <input type="checkbox" id="terms" name="terms" required />
                </div>
                <div class="mt-4">
                    <button type="submit" class=" w-full bg-cyan-700 text-white py-1 px-4 rounded-sm mx-auto">Signup</button>
                </div>
            </form>
            <section class="mt-4 flex gap-3 text-white">
                <p class="">Already have an account?&nbsp;</p>
                <a href="/login" class="text-green-600">Login</a>
            </section>
        </div>
    </div>
</body>

</html>