<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher detail</title>
    <!--    general styles-->
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        .login-container input {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

        .login-container input[type="submit"] {
            width: 90%;
            padding: 10px;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 16px;
        }

        .login-container input[type="cancel"] {
            width: 90%;
            padding: 10px;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 16px;
        }

        .login-container input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

<body>
    <table>
        <form>
            <label for="firstname"> First Name: </label><br />
            <input type="text" id="firstname" name="firstname" /><br />
            <label for="secondname">Second Name: </label><br />
            <input type="text" id="secondname" name="secondname" /><br>
            <label for="lastname">Last Name: </label><br />
            <input type="text" id="lastname" name="lastname" /><br>
            <label for="Admission name"> Admission Name: </label><br />
            <input type="text" id="Admission name" name="Admissionname" /><br />
            <label for="Phone number"> Phone number: </label><br />
            <input type="text" id="Phone number" name="Phone number" /><br />
            <label for="Grade">Grad:e</label><br />
            <input type="text" id="Grade" name="Grade" /><br />
            <label for="Home Address">Home Address: </label><br />
            <input type="text" id="Home Address" name="Home Address" /><br />
            <label for="Comment">Comment:</label><br />
            <input type="Comment" id="Comment" name="Comment" /><br />
            <label for="Subject 2">Subject 2:</label><br />
            <input type="Subject 2" id="Subject 2" name="Subject 2" /><br />
            <input type="submit" value="submit">
            <input type="submit" value="cancel">
        </form>
    </table>
</body>

</html>